@charset "UTF-8";

/* base */
body {
  margin: 0;
  font-size: 14px;
  line-height: 1.8;
}

img {
  max-width: 100%;
  height: auto;
}

/* global */
.container {
  max-width: 980px;
  margin: 0 auto;
}

.button {
  border-radius: 9999px;
  background-color: orange;
  color: #fff;
  font-weight: bold;
}

.common-heading {
  text-align: center;
  margin-top: 20px;
}

.common-heading .pc-font {
  font-size: 37px;
}

.common-collection {
  display: flex;
  justify-content: center;
}

.common-width {
  max-width: 310px;
  height: auto;
}

.common-width~.common-width {
  margin-left: 15px;
}

.common-image {
  text-align: center;
}

/* local */
.header {
  position: sticky;
  top: 0px;
  background-color: #fff;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.header .logo {
  width: 100px;
  line-height: normal;
}

.header .navigation ul {
  display: flex;
  line-height: normal;
}

.header .navigation li~li {
  margin-left: 20px;
}

.header .navigation a {
  display: block;
  padding: 8px 0;
}

.header .navigation .button {
  padding: 8px 10px;
}

.header .hamburger-menu {
  display: none;
}

.first-view {
  background-image: url(../img/first-view.jpg);
  background-size: cover;
  color: #fff;
}

.first-view .container {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.first-view .heading img {
  height: 150px;
  padding: 20px;
}

.first-view .info {
  text-align: center;
  margin-top: 40px;
}

.first-view .info .pc-hidden {
  display: none;
}

.first-view .list {
  width: 500px;
  border-top: 1px solid;
  margin-top: 40px;
  padding-top: 40px;
}

.first-view .application {
  margin-top: 40px;
}

.first-view .application .button {
  padding: 10px 56px;
  display: block;
}

.feature {
  background-color: #f2faff;
  padding: 30px;
}

.feature .mass {
  margin-top: 30px;
}

.feature .mass img {
  width: 200px;
  height: 200px;
}

.feature .title {
  text-align: center;
  margin-top: 15px;
  line-height: 1;
}

.feature .explanation {
  margin-top: 15px;
}

.thought {
  height: 730px;
  color: #fff;
  background-image: url(../img/section2-bg.jpg);
  background-size: cover;
  padding: 30px;
}

.thought .mass {
  width: 600px;
  margin: 30px auto 0 auto;
}

.thought .mass p:not(:last-child) {
  margin-top: 30px;
}

@media (max-width:980px) {

  /* global */

  .common-heading .mobile-font {
    font-size: 35px;
  }

  .common-collection {
    display: block;
  }

  .common-width {
    margin: 0 auto 50px auto;
  }

  /* local */
  .header .container {
    padding: 10px;
  }

  .first-view .container {
    background-position: center;
    padding: 15px;
  }

  .first-view .heading img {
    height: 100%;
    padding: 0;
  }

  .first-view .info .pc-hidden {
    display: block;
  }

  .first-view .list {
    width: 305px;
  }

  .first-view .application {
    margin-top: 20px;
  }

  .feature {
    padding: 15px;
  }

  .thought {
    height: auto;
    padding: 10px;
  }

  .thought .mass {
    width: auto;
  }

  .thought .mass p:not(:last-child) {
    margin-top: 0;
  }

  .thought .mobile-hidden~p {
    padding-top: 30px;
  }
}

@media(max-width:920px) {

  /* local */
  .header .navigation {
    display: none;
  }

  .header .navigation ul {
    display: block;
  }

  .header .hamburger-menu {
    display: block;
  }

  .header .hamburger-menu .menu-button {
    position: fixed;
    top: 10px;
    right: -10px;
    display: flex;
    height: 40px;
    width: 60px;
    justify-content: center;
    align-items: center;
  }

  .header .hamburger-menu .menu-button span,
  .header .hamburger-menu .menu-button span:before,
  .header .hamburger-menu .menu-button span:after {
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: black;
    position: absolute;
  }

  .header .hamburger-menu .menu-button span:before {
    bottom: 8px;
  }

  .header .hamburger-menu .menu-button span:after {
    top: 8px;
  }
}

@media (max-width:305px) {

  .first-view .list {
    width: auto;
  }
}
